.App {
  text-align: center;
}

.nevispic {
  width: 120px; 
  height: 120px; 
  border-radius: 100px; 
}

.main-box {
display: flex;
} 

.box1 {
  width: 100vw; 
  height:100vh; 
  background-color: blue; 
}

.about-me {
  display: flex;
  width: 100vw; 
  height: 100vh;
  } 

.box2{
  width: 100vw; 
  height: 100vh;
  background-color: red; 
}