
.nevispic {
  width: 180px; 
  height: 180px; 
  border-radius: 100px; 
  border: 4px solid white; 
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; 
  color: white;
}
.background {
  position: relative; 
  margin-top: 0; 
  margin-bottom: 0; 
}
h3 {
  margin: 0; 
  font-size: 40px; 
  position: relative;
  text-align: center;
  color: black;
}
.hello {
  margin: 0; 
  font-size: 40px; 
  position: relative;
  text-align: center;
  color: white;
}
.sub2 {
  margin: 0; 
  font-size: 24px; 
  position: relative;
  text-align: center;
  color: orange;
}
button {
  border-radius: 8px; 
  font-size: 22px; 
  margin-top: 25px; 
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  margin: 0;
  padding: 0; 
  background-color: black;
  font-family: 'Raleway'
}
.container1 {
  width: 100vw;
  height: 100vh; 
}
.container2 {
  background-color: white;
  width: 100vw;
  height: 100vh; 
}
.container3 {
  background-color: black;
  width: 100vw;
  height: 100vh; 
}
.container4 {
  background-color: white;
  width: 100vw;
  height: 100vh; 
}
.main {
  z-index: 1;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%)
}
.about-me {
  padding-top: 50px; 
  text-align: center;
}
a {
  text-decoration: none;
  color: black;  
}
.twitter {
  color:orange;
}
.nono {
  width: 100vw;
  height: 100vh;
}
.worktitle {
  color: white;
  padding-top: 20px; 
  padding-bottom: 30px; 
}
.photoshop {
  padding-bottom: 20px; 
  padding-right: 20px; 
  width: 90px; 
  height: 90px; 
}
.illustrator {
  padding-bottom: 20px; 
  padding-right: 20px; 
  width: 90px; 
  width: 90px; 
}
.indesign {
  padding-bottom: 20px; 
  padding-right: 20px; 
  width: 90px; 
  height: 90px; 
}
.html {
  width: 370px; 
  height: 150px; 
}
form {
  padding: 20px;
  border: 1px dashed black; 
  text-align: left;
  font-size: 18px; 
  width: 40%;
}
.contactlinks {
  text-align: right; 
}
.line1, .line2, .line3 {
  margin: 0; 
}
.aboutmeimages {
  padding-top: 40px;
}
.aboutmeheader {
  padding-bottom: 40px;
}
.pic1, .pic2 {
  height: 35%;
  width: 35%;
  border-radius: 20px; 
}
.pic1des{
  color: white;
  font-size: 40px; 
  font-weight: bold; 
  text-align: center;
  transform: translate(-0%, -425%);
}
.imgwrap1 img:hover{
  opacity: 0.2;
}
.imgwrap2 img:hover{
  opacity: 0.2;
}
.work {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
}
.imgwrap1 {
  height: 100%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.pic1 {
  width: 100%;
  height: auto;
}




